.gridsquare{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    background-color: gray;
}

.bleck{
    background-color: black;
}

.whitee{
    background-color: white;
}

.cleared{
    background-color: gray;
}