@font-face {
    font-family: ShantellSans;
    src: url(ShantellSans-VariableFont.ttf);
  }

body{
    margin: 0;
    padding: 0;
    font-family: ShantellSans;
    background-color: #F3EFE0;
    color: #4D455D;
}

.container{
    width: 500px;
    margin: 30px auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container h1{
    text-align: center;
}

.grid{
    width: 500px;
    height: 500px;
    border: 2px solid #4D455D;
}

.gridsquare{
    height: 15px;
    width: 15px;
    background-color: #ffffffb3;
}

.first-line, .second-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#grid-number{
    font-family: ShantellSans;
    width: 200px;
    height: 25px;
    padding: 8px 12px;
    border: 1px solid #4D455D;
}

#grid-number:hover{
    transform: scale(1.1);
}

.color-picker{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#colorpicker{
    height: 51px;
    padding: 0;
    border: none;
    background-color: #F3EFE0;
}

#colorpicker:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.choice{
    border: 1px solid #4D455D;
    padding: 12px 20px;
    background-color: #E96479;
    color: #F3EFE0;
}

.choice:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.active{
    background-color: #4D455D;
    color: #F3EFE0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 20px;
}