.gridsquare{
    height: 15px;
    width: 15px;
    /*border: 1px solid black;*/
    background-color: white;
}

.container{
    width: 500px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grid{
    width: 500px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
}

.first-line, .second-line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color-picker{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.choice{
    border: 1px solid black;
    padding: 12px 20px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}